<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
    <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" background="#ffffff">

        <tr>
            <td width="600" height="16" bgcolor="#D5F3FE"> </td>
        </tr>

        <tr>
            <td width="600">
                <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" background="#ffffff">
                    <tr>
                        <td width="245" height="61" bgcolor="#D5F3FE"></td>
                        <td width="108" height="61"><img src="images/arte_originalt2_03.jpg" alt="imagem" style="display: block; border: 0;"></td>
                        <td width="247" height="61" bgcolor="#D5F3FE"></td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td width="600" height="20" bgcolor="#D5F3FE">
            </td>
        </tr>

        <tr>
            <td width="600" height="403">
                <img src="./images/arte_originalt2_06.jpg" alt="imagem" style="display: block; border: none;">
            </td>
        </tr>

        <tr>
            <td width="600" height="18">
            </td>
        </tr>

        <tr>
            <td width="600">
                <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" background="#ffffff">
                    <tr>
                        <td width="62" height="58"></td>
                        <td width="472" height="58">
                            <p style="font-family: 'Lato', Arial, Helvetica, sans-serif;
                          font-size: 16px; text-align: center; line-height: 1.4;">On the occasion of <strong>World Tourism Day </strong>I, whish that you are blessed with more and more holidays to see many more new places and create beautiful memorias to cherish and leave footprints for other to follow.</p>
                        </td>
                        <td width="65" height="58"> </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td width="600">
                <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" background="#ffffff">
                    <tr>
                        <td width="132" hight="23"> </td>
                        <td width="336" hight="23">
                            <p style="font-family: 'Lato', Arial, Helvetica, sans-serif;
                          font-size: 16px; text-align: center;">Shop now and save to 25% with our autumn deals</p>
                        </td>
                        <td width="132" hight="23"> </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td width="600" height="19"></td>
        </tr>

        <tr>
            <td width="600">
                <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#ffffff">
                    <tr>
                        <td width="198"></td>
                        <td>
                            <a href="https://www.google.com/" target="_blank">
                                <img src="./images/arte_originalt2_17.jpg" alt="imagem" style="display: block; border: none;">
                            </a>
                        </td>
                        <td width="202"></td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td width="600" height="50"></td>
        </tr>

        <tr>
            <td width="600">
                <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" background="#ffffff">
                    <tr>
                        <td width="326" height="37">
                            <img src="./images/arte_originalt2_20.jpg" alt="">
                        </td>
                        <td width="74" height="37"></td>
                        <td width="60" height="37">
                            <a href="https://www.google.com/" target="_blank">MORE</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td width="600" height="8"></td>
        </tr>

        <tr>
            <td width="600" height="16">
                <img src="./images/arte_originalt2_24.jpg" alt="">
            </td>
        </tr>

        <tr>
            <td width="600" height="25"></td>
        </tr>

        <tr>
            <td width="600">
                <table width="600" border="0" cellpadding="0" cellspacing="0" align="center">
                    <tr>
                        <td width="18" height="215"></td>
                        <td width="177" height="215">
                            <img src="./images/arte_originalt2_27.jpg" alt="">
                        </td>
                        <td width="16" height="215"></td>
                        <td width="178" height="215">
                            <img src="./images/arte_originalt2_29.jpg" alt="">
                        </td>
                        <td width="15" height="215"></td>
                        <td width="176" height="215">
                            <img src="./images/arte_originalt2_31.jpg" alt="">
                        </td>
                        <td width="20" height="215"></td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td width="600">
                <table width="600" border="0" cellpadding="0" cellspacing="0" align="center">
                    <tr>
                        <td width="18" height="29"></td>
                        <td width="143" height="29">
                            <img src="./images/arte_originalt2_34.jpg" alt="">
                        </td>
                        <td width="50" height="29"></td>
                        <td width="105" height="29">
                            <img src="./images/arte_originalt2_36.jpg" alt="">
                        </td>
                        <td width="88" height="29"></td>
                        <td width="144" height="29">
                            <img src="./images/arte_originalt2_38.jpg" alt="">
                        </td>
                        <td width="52" height="29"></td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td width="600">
                <table width="600" border="0" cellpadding="0" cellspacing="0" align="center">
                    <tr>
                        <td width="18" height="26"></td>
                        <td width="116" height="26">
                            <img src="./images/arte_originalt2_41.jpg" alt="">
                        </td>
                        <td width="77" height="26"></td>
                        <td width="108" height="26">
                            <img src="./images/arte_originalt2_43.jpg" alt="">
                        </td>
                        <td width="85" height="26"></td>
                        <td width="108" height="26">
                            <img src="./images/arte_originalt2_45.jpg" alt="">
                        </td>
                        <td width="88" height="26"></td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td width="600" height="19"></td>
        </tr>

        <tr>
            <td width="600">
                <table width="600" border="0" cellpadding="0" cellspacing="0" align="center">
                    <tr>
                        <td width="18" height="42"></td>
                        <td width="116" height="42">
                            <a href="https://www.google.com/" target="_blank"><img src="./images/arte_originalt2_49.jpg" alt=""></a>

                        </td>
                        <td width="77" height="42"></td>
                        <td width="117" height="42">
                            <a href="https://www.google.com/" target="_blank"><img src="./images/arte_originalt2_49.jpg" alt=""></a>
                        </td>
                        <td width="76" height="42"></td>
                        <td width="117" height="42">
                            <a href="https://www.google.com/" target="_blank"><img src="./images/arte_originalt2_49.jpg" alt=""></a>
                        </td>
                        <td width="79" height="42"></td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td width="600" height="69"></td>
        </tr>

        <tr>
            <td width="600">
                <table width="600" border="0" cellpadding="0" cellspacing="0" align="center">
                    <tr>
                        <td width="68" height="30"></td>
                        <td width="211" height="30">
                            <img src="./images/arte_originalt2_57.jpg" alt="">
                        </td>
                        <td width="252" height="30">
                            <a href="https://www.google.com/" target="_blank"><img src="./images/arte_originalt2_58.jpg" alt=""></a>
                        </td>
                        <td width="69" height="30">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td widht="600" height="16"></td>
        </tr>

        <tr>
            <td width="600">
                <table width="600" border="0" cellpadding="0" cellspacing="0" align="center">
                    <td width="204" height="29"></td>
                    <td width="29" height="29">
                        <img src="./images/arte_originalt2_62.jpg" alt="">
                    </td>
                    <td width="24" height="29"> </td>
                    <td width="29" height="29">
                        <img src="./images/arte_originalt2_64.jpg" alt="">
                    </td>
                    <td width="27" height="29"> </td>
                    <td width="28" height="29">
                        <img src="./images/arte_originalt2_66.jpg" alt="">
                    </td>
                    <td width="25" height="29"> </td>
                    <td width="29" height="29">
                        <img src="./images/arte_originalt2_68.jpg" alt="">
                    </td>
                    <td width="205" height="29"> </td>
                </table>
            </td>
        </tr>

        <tr>
            <td width="600" height="28"></td>
        </tr>

        <tr>
            <td width="600">
                <table width="600" border="0" cellpadding="0" cellspacing="0" align="center">
                    <tr>
                        <td>
                            <table width="600" border="0" cellpadding="0" cellspacing="0" align="center">
                                <tr>
                                    <td width="400">
                                        <p style="
                                        margin: 0;
                                        padding: 0;
                                        font-family: Arial, Helvetica, sans-serif;
                                        font-size: 15px;
                                        line-height: 1.4;
                                        text-align: center;
                                        font-weight: normal;
                                      ">We don't want to miss out, but if you have to, you can <a href="">unsubscribe</a></p>
                                        <p style="
                                      font-family: Arial, Helvetica, sans-serif;
                                      font-size: 15px;
                                      line-height: 1.4;
                                      text-align: center;
                                      margin-bottom: 20px;
                                    ">
                                            copyright 2022 delivery, all rights reserved.
                                        </p>
                                        <p style="
                                        font-family: Arial, Helvetica, sans-serif;
                                        font-size: 15px;
                                        line-height: 1.4;
                                        text-align: center;
                                        margin-bottom: 24px;
                                      ">
                                            5611 stony horse wharf, ninilchik, oregon
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td width="600" height="20"></td>
        </tr>

        <tr>
            <td width="600">
                <table width="600" border="0" cellpadding="0" cellspacing="0" align="center">
                    <tr>
                        <td width="235" height="58"></td>
                        <td width="121" height="58">
                            <img src="./images/arte_originalt2_78.jpg" alt="">
                        </td>
                        <td width="244" height="58"></td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td width="600" height="20"></td>
        </tr>


    </table>
</body>

</html>