<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" style="margin: 0; padding: 0; background-color: #ffffff">
    <table width="600px" bgcolor="#FFFFFF" height="auto" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family: Arial, sans-serif">

        <tr>
            <td widht="600">
                <img src="./images/patricks-day_01.jpg" alt="imagem" style="display: block; border:none; width: 100%;">
            </td>
        </tr>

        <tr>
            <td width="600" height="45" bgcolor="#FFFFFF"></td>
        </tr>

        <tr>
            <td width="600" height="39">
                <table width="600" border="0" cellpadding="0" cellspacing="0" align="center">
                    <td width="98"> </td>
                    <td width="405">
                        <h1 style="font-size: 30px; color: #333333; margin: 0px; font-weight: 700;">HAPPY ST. PATRICK'S DAY!</h1>
                    </td>
                    <td width="96"> </td>
                </table>
            </td>
        </tr>

        <tr>
            <td width="600" height="34" bgcolor="#FFFFFF"></td>
        </tr>

        <tr>
            <td width="600" height="39">
                <table width="600" border="0" cellpadding="0" cellspacing="0" align="center">
                    <td width="193"> </td>
                    <td width="213">
                        <img src="./images/patricks-day_02.jpg" alt="imagem" style="display: block; border:none; width: 100%;">
                    </td>
                    <td width="194"> </td>
                </table>
            </td>
        </tr>

        <tr>
            <td width="600">
                <table width="600" border="0" cellpadding="0" cellspacing="0" align="center">
                    <td width="25"> </td>
                    <td width="550">
                        <p align="center" style="font-size: 18px; color: #333333; margin: 0px; line-height: 1.5;">
                            May this special day bring you joy, laughter and good times with <br> friends and family.
                            May the luck of the Irish be with you, and may <br> you have a memorable celebration filled with green beer, good <br> food and festivities.
                            Cheers to a great St. Patrick's Day!
                        </p>
                    </td>
                    <td width="25"> </td>
                </table>
            </td>
        </tr>

        <tr>
            <td width="600" height="30" bgcolor="#FFFFFF"></td>
        </tr>

        <tr>
            <td width="600" height="45">
                <table width="600" border="0" cellpadding="0" cellspacing="0" align="center">
                    <tr>
                        <td width="233"></td>
                        <td width="133">
                            <a href="https://www.google.com/" target="_blank">
                                <img src="./images/patricks-day_03.jpg" alt="botão" style="display: block; border:none; width: 100%;">
                            </a>
                        </td>
                        <td width="234"></td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td width="600" height="31"></td>
        </tr>

        <tr>
            <td width="600" height="140">
                <table width="600" border="0" cellpadding="0" cellspacing="0" align="center">
                    <tr>
                        <td width="233"> </td>
                        <td width="129">
                            <img src="./images/patricks-day_04.jpg" alt="botão" style="display: block; border:none; width: 100%;">
                        </td>
                        <td width="238"> </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td width="600" height="40" bgcolor="white"></td>
        </tr>

        <tr>
            <td width="600" height="25" bgcolor="#32520F"></td>
        </tr>

        <tr>
            <td width="600">
                <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#32520F">
                    <tr>
                        <!-- coluna 1 -->
                        <td width="19" height="193"></td>

                        <!-- coluna 2 -->
                        <td width="224">
                            <table width="224" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td height="19"> </td>
                                </tr>

                                <tr>
                                    <td width="224" height="21">
                                        <table width="224" border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td width="3">
                                                <td>
                                                    <a href="#" target="_blank"><img src="./images/face.jpg" alt="imagem" style="display: block; border:none; width: 100%; height: auto;"></a>
                                                </td>
                                                <td width="36">
                                                <td>
                                                    <a href="#" target="_blank"> <img src="./images/x.jpg" alt="imagem" style="display: block; border:none; width: 100%; height: auto;"></a>
                                                </td>
                                                <td width="36">
                                                <td>
                                                    <a href="#" target="_blank"><img src="./images/insta.jpg" alt="imagem" style="display: block; border:none; width: 100%; height: auto;"></a>
                                                </td>
                                                <td width="35">
                                                <td>
                                                    <a href="#" target="_blank"> <img src="./images/youtube.jpg" alt="imagem" style="display: block; border:none; width: 100%; height: auto;"></a>
                                                </td>
                                                <td width="40">
                                                <td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <td height=24> </td>
                                </tr>

                                <tr>
                                    <td width="224" height="19">
                                        <table width="224" border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td width="80">
                                                    <p style="font-size: 12px; color:white">Privacy Policy </p>
                                                </td>
                                                <td width="61"> </td>
                                                <td width="83">
                                                    <p style="font-size: 12px; color:white">Terms of use</p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <td height="22"> </td>
                                </tr>

                                <tr>
                                    <td>
                                        <table width="224" border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td height="36">
                                                    <p style="font-size: 12px; color:rgb(255, 255, 255)"> No Longer want to recive these emails?<br> <a style="font-size: 12px; color:rgb(255, 255, 255)" href="#" target="_blank">Unsubscribe</a></p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <td height="20"> </td>
                                </tr>

                            </table>
                        </td>

                        <!-- coluna 3 -->
                        <td width="117"></td>

                        <!-- coluna 4 -->
                        <td width="165">
                            <img src="./images/patricks-day_05.jpg" alt="imagem" style="display: block; border:none; width: 100%;">
                        </td>

                        <!-- coluna 5 -->
                        <td width="75"></td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td width="600">
                <img src="./images/patricks-day_6.png" width="600" height="96" alt="imagem" style="display: block; border:none; width: 100%; background-color: #32520F ">
            </td>
            </td>
        </tr>


    </table>
</body>

</html>